*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;

}

.card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top: 80px;
}

.card_img {
    height: 20rem;
    width: 10px 0%;
    object-fit: cover;
}

.card_title {
    padding: 1rem;
    text-align: center;
}

.card_description {
    padding: 0 1rem;
    text-align: center;
}

.card_btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #835674;
    background: transparent;
    color: #835674;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

    .card_btn:hover {
        transform: scale(1.02);
        background: #835674;
        color: white;
    }
.p1 {
    font-size: 26px;
    font-family: 'Bookman Old Style';
}

.motto {
    height: 300px;
    text-align: center;
    font-family: 'Bookman Old Style';
    font-size: 25px;
}

.message{
    width: 500px;
    height: 90px;
    background: rgb(199, 115, 115);
    font-size: 40px;
    text-align: center;
    font-family: 'Comic Sans MS';
    color: black;
}

.container2 {
    display: flex;
    /* background: linear-gradient(to bottom, #cc99ff 0%, #ffccff 100%);*/
}

.imgwrapper {
    margin: 0px 30px;
    display: inline;
}

.imgwrapper img {
    width: 20%;
}